@model Vessel_Info.Web.ViewModels.Types.TypeBaseViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2 class="text-center">Type Details</h2>
    <hr />

    <table class="table table-borderless table-hover">
        <tbody>
            <tr>
                <td style="width:150px">Type's name:</td>
                <td class="answer">@this.Model.Name</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <a asp-controller="Types" asp-action="All">Back to List</a>
</div>