@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="~/img/favicon.ico" rel="icon" type="image/png">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.min.js">
    <link rel="stylesheet" href="~/css/lazy.css">
    <link rel="stylesheet" href="~/css/demo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
</head>
<body class="register">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 offset-md-1">
                <div class="register-form">
                    <div class="text-center">
                        <h1>@ViewData["Title"]</h1>
                        <p class="lead">Create an account to start exploring.</p>
                    </div>
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.FirstName"></label>
                            <input asp-for="Input.FirstName" class="form-control" />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.LastName"></label>
                            <input asp-for="Input.LastName" class="form-control" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                    <p class="small my-4 text-center">Already have an account? <a asp-page="./Login">Log in</a>.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 offset-md-1 d-flex">
                <img src="~/img/1036866.jpg" width="600" height="900" />
            </div>
        </div>
    </div>

    <script src="~/lib/nouislider/js/nouislider.min.js"></script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
