<div class="justify-content-end">
    <form method="post" asp-action="Search">
        <span class="btn-group">
            <input class="form-control" type="text" name="searchTerm" placeholder="Search Key" />
            <input class="btn btn-sm btn-info" type="submit" value="Search" />
        </span>
    </form>
</div>