@model Vessel_Info.Web.ViewModels.Vessels.VesselCreateInputModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Vessel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vessel.Id" class="control-label"></label>
                <input asp-for="Vessel.Id" class="form-control" />
                <span asp-validation-for="Vessel.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vessel.Name" class="control-label"></label>
                <input asp-for="Vessel.Name" class="form-control" />
                <span asp-validation-for="Vessel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vessel.Imo" class="control-label"></label>
                <input asp-for="Vessel.Imo" class="form-control" />
                <span asp-validation-for="Vessel.Imo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vessel.Built" class="control-label"></label>
                <input asp-for="Vessel.Built" class="form-control" />
                <span asp-validation-for="Vessel.Built" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vessel.Dwt" class="control-label"></label>
                <input asp-for="Vessel.Dwt" class="form-control" />
                <span asp-validation-for="Vessel.Dwt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vessel.Loa" class="control-label"></label>
                <input asp-for="Vessel.Loa" class="form-control" />
                <span asp-validation-for="Vessel.Loa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vessel.Cubic" class="control-label"></label>
                <input asp-for="Vessel.Cubic" class="form-control" />
                <span asp-validation-for="Vessel.Cubic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vessel.Beam" class="control-label"></label>
                <input asp-for="Vessel.Beam" class="form-control" />
                <span asp-validation-for="Vessel.Beam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vessel.Draft" class="control-label"></label>
                <input asp-for="Vessel.Draft" class="form-control" />
                <span asp-validation-for="Vessel.Draft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vessel.Hull" class="control-label"></label>
                <input asp-for="Vessel.Hull" class="form-control" />
                <span asp-validation-for="Vessel.Hull" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vessel.CallSign" class="control-label"></label>
                <input asp-for="Vessel.CallSign" class="form-control" />
                <span asp-validation-for="Vessel.CallSign" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationId" class="control-label"></label>
                <input asp-for="RegistrationId" class="form-control" />
                <span asp-validation-for="RegistrationId" class="text-danger"></span>
                @*<select asp-for="RegistrationId" class ="form-control" asp-items="ViewBag.RegistrationId"></select>*@
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <input asp-for="TypeId" class="form-control" />
                <span asp-validation-for="TypeId" class="text-danger"></span>
                @*<select asp-for="TypeId" class ="form-control" asp-items="ViewBag.TypeId"></select>*@
            </div>
            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                <input asp-for="OwnerId" class="form-control" />
                <span asp-validation-for="OwnerId" class="text-danger"></span>
                @*<select asp-for="OwnerId" class ="form-control" asp-items="ViewBag.OwnerId"></select>*@
            </div>
            <div class="form-group">
                <label asp-for="ClassificationSocietyId" class="control-label"></label>
                <input asp-for="ClassificationSocietyId" class="form-control" />
                <span asp-validation-for="ClassificationSocietyId" class="text-danger"></span>
                @*<select asp-for="ClassificationSocietyId" class ="form-control" asp-items="ViewBag.ClassificationSocietyId"></select>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
