@model Vessel_Info.Web.ViewModels.Operators.OperatorDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2 class="text-center">Operator Details</h2>
    <hr />

    <table class="table table-borderless table-hover">
        <tbody>
            <tr>
                <td style="width:150px">Operator's name:</td>
                <td class="answer">@this.Model.Name</td>
            </tr>
            <tr>
                <td>Founded:</td>
                <td class="answer">@this.Model.Founded</td>
            </tr>
            <tr>
                <td>Website:</td>
                <td class="answer">@this.Model.Website</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@this.Model.Id">Edit</a>
</div>
<br />

<div>
    <a asp-controller="Operators" asp-action="All">Back to List</a>
</div>